@model List<string>
@{
    ViewBag.Title = "Sectoare si activitati";
}
<ul class="list-group">
    @foreach (var problemaDeMediu in @Model)
    {
        <li class="">@problemaDeMediu</li>
    }
</ul>
