@using (Html.BeginForm("Loadd", "Home",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>Please select a file to upload</div>
    <input class="" name="file" type="file">
    <input class="" type="submit" value="Upload File" />
}
